@font-face {
    font-family: 'voltaire'; /* Choose a name for your font */
    src: url('../fonts/Voltaire-Regular.ttf') format('woff');
    /* You can include additional formats as needed */
  }

#calendardiv {
display: flex; 
flex-wrap: wrap; 

}

.day {
width : 14%; 
}

html > *{
    font-family: 'voltaire';
    
}

/*   calendar   */
.dayBar {



}

.remplaBarContainer{
   color:black;
}
.remplaBar{
 border: .5px solid black;
 padding: 1rem; 

}

.daySpan {
 padding: 1rem;
 

}