{{template "base" .}}

{{define "content"}}
    <section class="new-rempla-section">
        <
    </section>
 <script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>
 <script src="https://cdn.tailwindcss.com"></script>
 <script>  
 </script>
{{end}}